.body {
  margin: 50px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: aquamarine;
  padding-top: 2px;
}

.searchbar {
  width: 60px;
  height: 25px;
  background-color: violet;
}

.hamburger {
  width: 30px;
  height: 25px;
  background-color: blueviolet;
}

.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.navbarmenu {
  display: flex;
  gap: 8px;
}
